.git
node_modules
.eslint*
.prettier*
.git*
.svelte-kit
.vscode
README.md
Dockerile*
docker-compose.yml
public
.svelte-kit
build
screenshots
tests
shell.nix
vercel.json
README.md
ChangeLog.md
updateMBFCData.sh