@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /*
    Chromium browsers don't render nested backdrop filters.
    As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-hack':

      <div class="before:backdrop-blur-md before:backdrop-hack>
        <div class="backdrop-blur-md"></div>
      </div>

    See https://stackoverflow.com/a/76207141.
  */
  .backdrop-hack {
    @apply absolute inset-0 -z-10;
  }
}


html {
    zoom: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-zinc-950 dark:text-zinc-100 accent-slate-950 dark:accent-zinc-50;
}

.dark {
  color-scheme: dark;
}

html,
body {
  text-rendering: optimizeLegibility;
  font-family: system-ui, sans-serif;
}

.wait * {
  cursor: wait !important;
}

#nprogress {
  z-index: 999 !important;
  position: fixed !important;
}

#nprogress .bar {
  @apply bg-black dark:bg-white !important;
  z-index: 999 !important;
}

#nprogress .peg {
  display: none !important;
  z-index: 999 !important;
}

pre {
  @apply bg-slate-100 p-2 rounded-md my-2 max-w-full whitespace-pre-wrap
  border-slate-200 border dark:bg-zinc-900 dark:border-zinc-800 text-sm;
}

:not(pre) > code {
  @apply bg-slate-100 border border-slate-300 dark:bg-zinc-800
  dark:border-zinc-700;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  padding: 1px;
}

::-webkit-scrollbar-track {
  width: 2px;
  margin: 1px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  @apply bg-slate-200;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-zinc-800;
}


.flexrow {
    max-width: 100%; 
    page-break-inside: avoid; 
    display: flex; 
    flex-direction: row; 
}

.flexcol {
    width: -moz-fit-content; 
    width: -webkit-fit-content; 
    width: fit-content;
    width: 100%;
    height: -moz-fit-content; 
    height: -webkit-fit-content; 
    height: fit-content; 
    overflow: none; 
    padding-right: 15px;
}



.flexcol-10 {
    min-width:10%;
}

.flexcol-15 {
    min-width: 15;
}

.flexcol-25 {
    min-width:25%;
}
.flexcol-33 {
    min-width:33.3%;
}

.flexcol-40 {
    min-width:40%;
}

.flexcol-45 {
    min-width:45%;
}

.flexcol-50 {
    min-width:50%;
}


.flexcol-60 {
    min-width:60%;
}

.flexcol-66 {
    min-width:66.6%;
}

.flexcol-75 {
    min-width:75%;
}

.flexcol-80 {
    min-width:80%;
}


.flexcol-85 {
    min-width:85%;
}

.flexcol-90 {
    min-width:90%;
}

@media screen and (max-width:67em) {
    .flexrow { 
        flex-direction: column; 
        align-items: left;
    }
}